name: hydraulics-proj
channels:
  - conda-forge
dependencies:
  - python=3.11
  - numpy
  - pandas
  - scipy
  - matplotlib
  - jupyter
  - geopandas
  - shapely
  - pyproj
  - rasterio
  - rioxarray
  - gdal
  - xarray
  - dask
  - pytest
  - pip
  - pip:
      - black
      - ruff
